p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(/Imagenes/fondopersonajes.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
}
.encabezado{
    width: 100%;
    text-align: center;
    background:linear-gradient(black,grey)
}
.encabezado img{
    width: 25%;
}
.titulo{
    color:rgb(184, 3, 3);
    text-align: center;
    font-size: xxx-large;
}
section{
    margin: 3%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    border:solid rgb(184, 3, 3);
    width: 90%;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3%;
    width: 60%;
}
.contenido h1{
    color: rgb(184, 3, 3);
    font-size: xx-large;
    flex-wrap: nowrap;
}
.contenido p{
    color: white;
    justify-content: center;
}
.imagen{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    
}
.imagen img{
    margin-left: 2%;
    width: 90%;
}
.beherit{
    align-self: center;
    width: 25%;
}
table{
    color: white;
    margin: 3%;
}
table th{
    text-align: left;
    width: 25%;
}
table th h1{
    color: rgb(184, 3, 3);
    font-size: x-large;
    text-align: center;
}
table td{
    text-align:center
}
table td p{
    font-size: x-large;
}
.otrolink{
    text-decoration: none;
}
.otrolink:visited{
    color: rgb(184, 3, 3);
}
.otrolink:any-link{
    color: rgb(184, 3, 3);
}
.seccionfinal{
    margin: 3%;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    border:solid rgb(184, 3, 3);
}
.seccionfinal h1{
    color: rgb(184, 3, 3);
    text-align: center;
    font-size: xxx-large;
}
.seccionfinal p{
    color: white;
    text-align: center;
    font-size: x-large;
}
iframe{
    align-self: center;
    width: 100%;
    height: 300px;
}
button {
    width: 100% auto;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color:rgb(184, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    margin-left: 35px;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: rgb(184, 3, 3);
   }
   
   button:active:before {
    background: #b9b9b9;
   }



@media only screen and (max-width: 600px) {
    
    .imagen img{
        margin-top: 2%;
    }
    body{
        background-position: initial;
        background-attachment: fixed;
    }
    table th h1{
        font-size: large;
    }
    section{
        margin: 3%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3%;
        -webkit-border-radius: 3%;
        -moz-border-radius: 3%;
        -ms-border-radius: 3%;
        -o-border-radius: 3%;
        border:solid rgb(184, 3, 3);
        width: 90%;
    }

}
